<div id="top-nav">
    <a href="/" class="button hvr-border-fade">Home</a>
    <a href="/adminCP" class="button hvr-border-fade">Admin CP</a>
    <a href="/classes/all" class="button hvr-border-fade">All Classes</a>
    <a href="/users/all" class="button hvr-border-fade">All Users</a>
    <a href="#" class="button hvr-border-fade">** My Classes</a>
    <a href="#" class="button hvr-border-fade">** View My Profile</a>
    <a href="/users/create" class="button hvr-border-fade">Create Account</a>
    <a href="/login" class="button hvr-border-fade">Log In</a>
    <a href="/logout" class="button hvr-border-fade">Log Out</a>
    <a href="/about/" class="button hvr-border-fade">About</a>
</div>