
<% include ../partials/header %>
<% include ../partials/navigation %>

<div class="wrapper">
<p>Successfully Logged Out!</p>
<p><a href="/login">Login Again?</a></p>
</div>
<% include ../partials/footer %>