<% include partials/header %>
<% include partials/navigation %>

<div class="wrapper">
    <body>
    <div id="content" class="animated bounceInDown" align="center">
        <h1 align="center">Welcome to Grade Keeper</h1>
        <p>
            The goal for this database is for student users to be able to store the grades they received
            throughout the semester and be able to check their standing in any class at any moment throughout
            the semester. When it comes to finals time the user will be able to ask what grades would be
            necessary to earn a given letter grade in the class using all the previous scores that have been entered.
        </p>
    </div>
    </body>
</div>

<% include partials/footer %>