<% include partials/header %>
<% include partials/navigation %>
<!DOCTYPE html>
<html>
<head>
    <div class="wrapper">
    <title>Admin CP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
<h1 align="center">This is the admin corner</h1>
<p align="center">Welcome to the Admin Control Panel</p>

<br/>
<a href="/users/all" class="button hvr-border-fade">Display All Users</a>
<br/>
<a href="/classes/all" class="button hvr-border-fade">Display All Classes</a>
</div>
</body>
</html>
<% include partials/footer %>