<% include partials/header %>
<% include partials/navigation %>

<!DOCTYPE html>
<html>
<div class="wrapper">
  <head>
    <title>Grade Keeper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="content" class="animated bounceInDown">
      <h1 align="center">Welcome to Grade Keeper</h1>
      <p>
        This is the front page with some dummy content
      </p>
    </div>
  </body>
</div>
</html>
<% include partials/footer %>