<% include partials/header %>
<% include partials/navigation %>

<!DOCTYPE html>
<html>
<head>
    <title>GradeKeeper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
    <h1>Success!</h1>
    You have added a new class!

    <br />
    <a href="/">Back to your profile</a>
</div>
</body>
<% include partials/footer %>
</html>