<% include partials/header %>
<% include partials/navigation %>

<!DOCTYPE html>
<html>
<head>
    <title>GradeKeeper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper">
<h1>Success!</h1>
<p>Welcome to Grade Keeper!</p>
You can now enjoy my website with no limitations

<br />
<a href="/login">Click Here to Log in</a>
    <br />
<a href="/">Back to main menu</a>
</div>
</body>
<% include partials/footer %>
</html>
