<% include partials/header %>
<% include partials/navigation %>

<!DOCTYPE html>
<html>
<head>
    <title>GradeKeeper</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="wrapper" align="center">
    <h1>Success!</h1>
    You have added a new category!

    <br />
    <a href="/users/grade/?enroll_id=<%= enroll %>"%>>Back to grade report</a>
</div>
</body>
<% include partials/footer %>
</html>